@import "../index.scss";

.App {
  background-color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: left;
  color: $black;
}

.flex-force-center {
  align-items: center !important;
  justify-content: center !important;
}
