@import "../index.scss";

.CanvasSvg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  pointer-events: none;
}

.CanvasSvgLine {
  stroke: $border;
  stroke-width: $stroke-width;
}
