$blue: #29D4FF;
$blue-darker: #00B7E5;
$red: #FF297F;
$black: #333333;
$white: #FFFFFF;
$gray: #B5B5B5;
$gray-light: #EEEEEE;

$family-sans-serif: 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
$font-size: 14px;
$line-height: 24px;

$stroke-width: 1px;

$checkbox-size: 12px;