extends layout-large.pug

block title
    title Seqoio

block content
    h1(class="block is-flex is-justify-content-center") 404 - We're sorry but we can't find what you're looking for.
    div(class = "block is-flex is-justify-content-center")
        a(href='/authentication/signin') Already have an account?
