extends layout-large.pug

block title
    title Seqoio

block content
    h1(class="block is-flex is-justify-content-center") 505 - We're sorry but it seems your request broke our server.
    div(class = "block is-flex is-justify-content-center")
        a(href='/authentication/signin') Already have an account?
