extends layout.pug

block title
    title Seqoio forgotten password

block content
    h2(class="block is-flex is-justify-content-center") We'll send you a recovery email
    if message && message.length > 0
        div(class="has-text-danger block is-flex is-justify-content-center") #{message}
    form(class = "block" action = "/authentication/email/forgot" method = "POST")
        input(name = "email" type = "text" required placeholder = "Email" class="input block is-fullwidth")
        button(type = "Submit" class="button block is-fullwidth") Send recovery link
    hr
    div
        div(class = "block is-flex is-justify-content-center")
            a(href='/authentication/signin') Return to sign in
