extends layout-large.pug

block title
    title Seqoio

block content
    div(class="content")
        h1(class="block is-flex is-justify-content-center") Imprint
        p Last updated: October 08, 2021
        p Mayrock UG (haftungsbeschränkt), An den Grachten 11, 12683 Berlin
        P Managing Director: Matthias Mayrock