extends layout.pug

block title
    title Enter a password for Seqoio account

block content
    h2(class="block is-flex is-justify-content-center") Enter a password for your Seqoio account
    if message && message.length > 0
        div(class="has-text-danger block is-flex is-justify-content-center") #{message}
    form(class = "block" action = "/authentication/email/forgot/" + token method = "POST")
        input(name = "password" type = "password" required placeholder = "Password" class="input block is-fullwidth")
        button(type = "Submit" class="button block is-fullwidth") Set password